
<h1>This is Footer</h1>
<div data-sly-use.footerMCMUse="${'com.popeyetires.popeyetires.core.filters.FooterWCMUse'}">
    <p>Inside FooterWCMUse</p>
    <h3>Tires by Vehicle</h3>
    <div data-sly-list="${footerMCMUse.tiresByVehicles}" >
    	<div>
    		<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
    	</div>
    </div>
   
    <h3>Tires by Type</h3>
    <div data-sly-list="${footerMCMUse.tiresByType}" >
    	<div>
    		<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
    	</div>
    </div>
    
    <h3>Support</h3>
    <div data-sly-list="${footerMCMUse.support}" >
    	<div>
    		<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
    	</div>
    </div>
    
    <h3>Company Info & History</h3>
    <div data-sly-list="${footerMCMUse.companyInfo}" >
    	<div>
    		<a href="${item.linkUrl}" target="${item.newTab ? '_blank' : '_self'}">${item.linkText}</a>
    	</div>
    </div>
    
    
    </div>
    
   

<div class="bottom">
	<!-- Social Icons -->
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
		<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
		<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
	</ul>
</div>
<div class="bottom-logo">
	<img src="/content/dam/popeyetires/bridgestone_bottom_logo.png" alt="Bridgestone"/>
</div>

